.container{
    max-width: 1440px;
    margin: 0px auto;
}

/* --------------------- HERO ----------------------*/

.hero{
    padding-top: 35vh;
    padding-bottom: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    line-height: 64px;
    color: $white-normal;

    h1{
        font-size: 36px;
        max-width: 720px;
        margin: 0px 8px;
    }
    p{
        font-size: 16px;
        margin-bottom: 24px;
    }
    input{
        border: none;
        padding: 14px 32px;
        font-weight: 600;
        color: $white-normal;
        background-color: $red-normal;
        transition: .5s;
    }
}

.hero input:hover{
    background-color: $red-dark;
    transform: scale(1.1);
}

@media screen and (max-width: 768px){
    .hero{
        justify-content: flex-end;
        padding: 16vh 0px;

        h1{
           font-size: 28px;
           max-width: 420px;
           margin: 0px 8px;
        }

        p{
            font-size: 14px;
        }
    }
}

/* -------------------- ABOUT -----------------------*/

.about{
    background-color: $primary-dark;
    
}
.about-content{
    color: $white-normal;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 42px;
    padding: 0px 24px;
    padding-bottom: 24px;

    div{
        flex: 1; /* faz com que as duas divs ocupem espaços iguais*/

        h2{
            margin-bottom: 24px;
            font-size: 32px;
            font-weight: bold;
        }

        p{
            line-height: 150%;
            margin-bottom: 16px;
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 768px){
    .about-content{
        flex-direction: column;

        div{
            margin: 0px 24px;

            h2{
                text-align: center;
            }
        }
    }
}

/* ------------------ SERVICES ------------------*/


.services{
    background-color: $white-normal;
}

.services-content{
    padding: 42px 24px 64px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    h2{
        font-size: 36px;
        text-align: center;
        margin-bottom: 24px;
        font-weight: bold;
    }
    p{
        text-align: left;
        line-height: 150%;
        font-size: 16px;
        margin-bottom: 32px;
        max-width: 720px;
    }
}

.hair-cut-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    

    .hair-cut{
        border-radius: 16px;
        box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        overflow: hidden;
        
        img{
            max-width: 320px;
            transition: transform .25s ease-in-out;
        }

        .hair-cut-details{
            display: flex;
            align-items: center;
            justify-content: space-between;

            background-color: $white-normal;
            margin-top: -5px; /*corrigir espaçamento incorreto*/
            width: 100%;
            padding: 16px 12px;

            /*Sobreposição*/
            position: relative;
            z-index: 2;

            div{
                height: 32px;

                display: flex;
                align-items: center;
                justify-content: center;
            }

            strong{
                font-weight: bolder;
                font-size: 16px;
            }

            input{
                border: none;
                color: $white-normal;
                font-weight: bold;
                font-size: 14px;
                background-color: $red-light;
                padding: 6px 8px;
                border-radius: 4px;
            }
        }
    }
}

.hair-cut:hover img{
    transform: scale(1.2);
    z-index: 0;
}   

@media screen and (max-width: 768px){

    .services-content{
        padding: 42px 42px 64px 42px;
    }


    .hair-cut-container{
        flex-wrap: wrap;
    }
}

/* -------------------MAP-----------------*/

.map{
    background-color: $white-normal;
    margin: -5px 0px; /*corrigir espaçamento indevido*/
    h2{
        text-align: center;
        font-weight: bold;
        font-size: 36px;
        margin-bottom: 32px;
        text-transform: initial;
    }
    iframe{
        width: 100%;
    }
}

/* ------------------- footer------------*/

footer{
    background-color: $primary-dark;

    .footer-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 32px;
        padding: 64px 16px 32px 16px;
        color: $white-normal;
        text-align: center;

        .footer-icons a, .footer-copyright a{
            color: $white-normal;
            margin-right: 8px;
        }

        .footer-copyright p{
            font-size: 12px;
        }
    }
}

.footer-icons a:hover{
    i{
    animation: animation-icons 1s infinite alternate;
    color: $red-dark;
    }
}

/* ------------------ WPP button ---------*/

.whatsapp-btn{
    width: 64px;
    position: fixed;
    bottom: 24px;
    right: 24px;
    z-index: 99; /*Sobrepocisão*/
    border-radius: 50%;
    
    img{
        transition: transform .25s ease-in-out;
    }

    .text-btn{
        position: absolute;
        top: 10px;
        right: 76px;

        width: 164px;
        color: $white-normal;
        background-color: $black-light;
        padding: 6px 12px;
        border-radius: 4px;

        opacity: 0;

        transition: opacity .25s ease-in-out;
    }
}

.whatsapp-btn:hover{
    img{
    transform: scale(1.1);
    }

    .text-btn{
        opacity: 1;
    }
}