@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

header {
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px 24px;
}
.header-content .header-icons {
  display: flex;
  gap: 16px;
}
.header-content i {
  color: #ffffff;
  transition: color 0.3s;
}
.header-content .header-icons a:hover i {
  color: #d34040;
  animation: animation-icons 1s infinite alternate;
}
@keyframes animation-icons {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}
.header-content input {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 8px 24px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s;
}
.header-content .header-button:hover input {
  background-color: #d34040;
  border: 1px solid #d34040;
}
.header-content .header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
    padding-top: 46px;
  }
  .header-button {
    display: none;
  }
}
.bg-home {
  position: relative;
}

.bg-home::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: linear-gradient(to bottom, rgba(6, 19, 46, 0.1), #040f1a), url("/assets/bg.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.container {
  max-width: 1440px;
  margin: 0px auto;
}

/* --------------------- HERO ----------------------*/
.hero {
  padding-top: 35vh;
  padding-bottom: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 64px;
  color: #ffffff;
}
.hero h1 {
  font-size: 36px;
  max-width: 720px;
  margin: 0px 8px;
}
.hero p {
  font-size: 16px;
  margin-bottom: 24px;
}
.hero input {
  border: none;
  padding: 14px 32px;
  font-weight: 600;
  color: #ffffff;
  background-color: #D94140;
  transition: 0.5s;
}

.hero input:hover {
  background-color: #b42b2b;
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  .hero {
    justify-content: flex-end;
    padding: 16vh 0px;
  }
  .hero h1 {
    font-size: 28px;
    max-width: 420px;
    margin: 0px 8px;
  }
  .hero p {
    font-size: 14px;
  }
}
/* -------------------- ABOUT -----------------------*/
.about {
  background-color: #040f1a;
}

.about-content {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 42px;
  padding: 0px 24px;
  padding-bottom: 24px;
}
.about-content div {
  flex: 1; /* faz com que as duas divs ocupem espaços iguais*/
}
.about-content div h2 {
  margin-bottom: 24px;
  font-size: 32px;
  font-weight: bold;
}
.about-content div p {
  line-height: 150%;
  margin-bottom: 16px;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }
  .about-content div {
    margin: 0px 24px;
  }
  .about-content div h2 {
    text-align: center;
  }
}
/* ------------------ SERVICES ------------------*/
.services {
  background-color: #ffffff;
}

.services-content {
  padding: 42px 24px 64px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.services-content h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 24px;
  font-weight: bold;
}
.services-content p {
  text-align: left;
  line-height: 150%;
  font-size: 16px;
  margin-bottom: 32px;
  max-width: 720px;
}

.hair-cut-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.hair-cut-container .hair-cut {
  border-radius: 16px;
  box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  overflow: hidden;
}
.hair-cut-container .hair-cut img {
  max-width: 320px;
  transition: transform 0.25s ease-in-out;
}
.hair-cut-container .hair-cut .hair-cut-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  margin-top: -5px; /*corrigir espaçamento incorreto*/
  width: 100%;
  padding: 16px 12px;
  /*Sobreposição*/
  position: relative;
  z-index: 2;
}
.hair-cut-container .hair-cut .hair-cut-details div {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hair-cut-container .hair-cut .hair-cut-details strong {
  font-weight: bolder;
  font-size: 16px;
}
.hair-cut-container .hair-cut .hair-cut-details input {
  border: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  background-color: #d34040;
  padding: 6px 8px;
  border-radius: 4px;
}

.hair-cut:hover img {
  transform: scale(1.2);
  z-index: 0;
}

@media screen and (max-width: 768px) {
  .services-content {
    padding: 42px 42px 64px 42px;
  }
  .hair-cut-container {
    flex-wrap: wrap;
  }
}
/* -------------------MAP-----------------*/
.map {
  background-color: #ffffff;
  margin: -5px 0px; /*corrigir espaçamento indevido*/
}
.map h2 {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 32px;
  text-transform: initial;
}
.map iframe {
  width: 100%;
}

/* ------------------- footer------------*/
footer {
  background-color: #040f1a;
}
footer .footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 64px 16px 32px 16px;
  color: #ffffff;
  text-align: center;
}
footer .footer-content .footer-icons a, footer .footer-content .footer-copyright a {
  color: #ffffff;
  margin-right: 8px;
}
footer .footer-content .footer-copyright p {
  font-size: 12px;
}

.footer-icons a:hover i {
  animation: animation-icons 1s infinite alternate;
  color: #b42b2b;
}

/* ------------------ WPP button ---------*/
.whatsapp-btn {
  width: 64px;
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 99; /*Sobrepocisão*/
  border-radius: 50%;
}
.whatsapp-btn img {
  transition: transform 0.25s ease-in-out;
}
.whatsapp-btn .text-btn {
  position: absolute;
  top: 10px;
  right: 76px;
  width: 164px;
  color: #ffffff;
  background-color: #353436;
  padding: 6px 12px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.whatsapp-btn:hover img {
  transform: scale(1.1);
}
.whatsapp-btn:hover .text-btn {
  opacity: 1;
}

body {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-color: #06132E;
  overflow-x: hidden;
}

img, svg {
  width: 100%;
}

a, input {
  text-decoration: none;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */